<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Disk</title>
    <style>
        div {
            background-color: red;
            border-radius: 50%;
            height: 300px;
            width: 300px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div></div>
</body>
</html>
